In [14]:
import pandas as pd

In [15]:
attributes = [
	'Class',
    'Alcohol',
 	'Malic acid',
 	'Ash',
	'Alcalinity of ash  ',
 	'Magnesium',
	'Total phenols',
 	'Flavanoids',
 	'Nonflavanoid phenols',
 	'Proanthocyanins',
	'Color intensity',
 	'Hue',
 	'OD280/OD315 of diluted wines',
 	'Proline'
]

In [16]:
data_path = './wine_dataset/wine.data'

In [17]:
df = pd.read_csv(data_path, header=None, names=attributes)
df

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

## groupby

In [18]:
analisis_por_clase = df.groupby('Class')['Alcohol'].mean()
analisis_por_clase

Class
1    13.744746
2    12.278732
3    13.153750
Name: Alcohol, dtype: float64

## apply

In [19]:
def get_color_intensity_level(value):
    if value > 7: return 'High'
    else: return 'Low'

color_int_lvl = df['Color intensity'].apply(get_color_intensity_level)
color_int_lvl[::15]

0       Low
15     High
30      Low
45      Low
60      Low
75      Low
90      Low
105     Low
120     Low
135    High
150    High
165     Low
Name: Color intensity, dtype: object

## map

In [20]:
def get_alcohol_level(value):
    if value > 13.5:
        return 'High'
    elif 12.5 <= value <= 13.5:
        return 'Medium'
    else:
        return 'Low'

df['Alcohol level'] = df['Alcohol'].map(get_alcohol_level)
df[::20]

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Alcohol level
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,High
20,1,14.06,1.63,2.28,16.0,126,3.00,3.17,0.24,2.10,5.65,1.09,3.71,780,High
40,1,13.56,1.71,2.31,16.2,117,3.15,3.29,0.34,2.34,6.13,0.95,3.38,795,High
60,2,12.33,1.10,2.28,16.0,101,2.05,1.09,0.63,0.41,3.27,1.25,1.67,680,Low
80,2,12.00,0.92,2.00,19.0,86,2.42,2.26,0.30,1.43,2.50,1.38,3.12,278,Low
100,2,12.08,2.08,1.70,17.5,97,2.23,2.17,0.26,1.40,3.30,1.27,2.96,710,Low
120,2,11.45,2.40,2.42,20.0,96,2.90,2.79,0.32,1.83,3.25,0.80,3.39,625,Low
140,3,12.93,2.81,2.70,21.0,96,1.54,0.50,0.53,0.75,4.60,0.77,2.31,600,Medium
160,3,12.36,3.83,2.38,21.0,88,2.30,0.92,0.50,1.04,7.65,0.56,1.58,520,Low

## transform

In [ ]:
def is_high_lvl(value):
    return value > value.quantile(0.75)
    
df['High fenol'] = df.groupby('Class')['Total phenols'].transform(
    is_high_lvl
)
df

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Alcohol level,High fenol
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,High,False
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,Medium,False
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,Medium,False
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,High,True
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,Medium,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,High,False
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,Medium,False
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,Medium,False
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,Medium,False
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,High,True

In [ ]:
is_high_lvl
)
df

## aggregate

In [22]:
def mg_to_g(value):
    return value.sum() / 1000

analisis_por_clase = df.groupby('Class').agg({
    'Alcohol': ['mean', 'max'],
    'Proline': mg_to_g 
})
analisis_por_clase

         Alcohol        Proline
            mean    max mg_to_g
Class
1      13.744746  14.83  65.827
2      12.278732  13.86  36.885
3      13.153750  14.34  30.235

## lambda

In [23]:
analisis_por_clase = df.groupby('Class').agg({
    'Alcohol': ['mean', 'max'],
    'Proline': lambda x: x.sum() / 1000 
})
analisis_por_clase

         Alcohol         Proline
            mean    max <lambda>
Class
1      13.744746  14.83   65.827
2      12.278732  13.86   36.885
3      13.153750  14.34   30.235